<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About Us</h1>
    <h3> Long ago, I remember starting my journey into exceptional lighting and having<br>
         no idea what the difference between all the types of technologies out there. This<br>
         website aims to bring you all the options out there as well as educating any buyers<br>
	 about the lights they're interested in acquiring. Spectacle Lighting aims to bring a<br>
	 BRIGHT future to your home today! </h3> <br><br>
    <img src="/static/assets/about.gif" alt="about" class="img">
      
    {% endblock %}
  </body>
</html>
