<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Glossary</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Lighting Glossary </h1>
    <h2> Find all our lighting technologies explained here in detail </h2>
    
    <h1> White LED Strips </h1>
    <h3> As a base, we offer white LED strips in cool white, warm white, and neutral white<br>
         Our White-Only LED strips are available in Standard and Addressable(featured), meaning<br>
         control of individual LEDs is possible leading to a wide variety of possible effects.</h3>
    <img src="/static/assets/AddWhite.gif" alt="White Addressable LED" class="imgCenter">
    <br><br>
    <h1> Standard RGB Strips </h1>
    <h3> The most classic option in colorful lighting! The color on these strips can be controlled <br> 
         however, the entire strip must remain the same color all throughout. These are reliable and<br>
         a great starting place for entering a colorful future. </h3>
    <img src="/static/assets/NonAdd.GIF" alt="Standard RGB LED" class="imgCenter">
    <br><br>
    <h1> Addressable RGB Strips </h1>
    <h3> Do you want the best lighting effects available? Then you require the power of Addressable LEDs!<br> 
         Each LED is inidivually controllable and with our Spectacle Lighting Control Module, you can create<br>
         a beautiful canvas of light on any surface. Our best seller!</h3>
    <img src="/static/assets/Add.gif" alt="Addressable RGB LED" class="imgCenter">
    <br>
    <h3> Spectacle Lighting Control Module at work! </h3>
    <img src="/static/assets/controller.gif" alt="Controller Module" class="imgCenter">
    <br><br>
    <h1>We have combinations and variations!</h1>
    <h3> Maybe you'd like having the best of both worlds? We offer LED strips with BOTH RGB and White in the<br> 
         the same space, what could be better? We have specialty light strips that can acheive any look you want.<br><br>
    <img src="/static/assets/AddWhite.gif" alt="Addressable RGB LED" class="imgCenter">


    {% endblock %}
  </body>
</html>
