<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Be the dazzling envy of your neighborhood </h1>
    <img src="/static/assets/rgbAnimation.gif" alt="rgbAnimation" class="imgCenter">
    <p> Spectacle Lights aims to bring you powerful and efficient lighting technologies
	to your home, both indoor and out! We offer a wide variety of LED technologies 
	as well as tasteful fixtures for that polished look. Explore the catalog and 
	start your illumination today. </p>
    
    {% endblock %}
  </body>
</html>
